.button {
  font: inherit;
  font-family: "Fredoka", sans-serif;
  font-weight: normal;
  color: #736049;
  background: #d9c7a7;
  border: none;
  border-radius: 5px;
  padding: 0.6em 0.7em;
  margin-top: 0.2em;
  cursor: pointer;
  outline: inherit;
  transition: background 0.6s ease, color 0.6s ease;

  &:hover {
    background: #a68b6a;
    color: #f2ede9;
  }
}
