.no-project-selected {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  align-items: center;
  margin-left: 20em;
  .image {
    height: 7em;
    width: 5em;
  }
  .title {
    letter-spacing: 1px;
    margin-top: 1em;
  }
  .paragraph {
    margin-top: 1em;
  }
}
